/* ========================================================================
 * Whole Brain Regional Scatterplot Styling
 * Poldracklab
 * ========================================================================
 * Copyright 2015 Poldracklab
*/

html, body { 
  background: #f7f7f7; 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  color: #b6b6b6; 
  font-family: Ubuntu, Helvetica, sans-serif; 
  font-size: 15px; 
  line-height: 1.35em;
}
a { 
  color: #6be; 
  text-decoration: none; 
}
#canvas { position: fixed; }
#center { 
  position: absolute; 
  top: 0; 
  left: 45px; 
  margin: 40px; 
  width: 480px; 
  padding: 20px; 
  background: #444; 
  background: rgba(0,0,0,0.9); 
  border-radius: 8px;
}

h1 { 
  margin-top:0; 
  padding: 3px 0; 
  font-size: 1.4em; 
}

h1, h3 { 
  color: #f9f9f9; 
  border-bottom: 1px solid #333; }

h3 { 
  font-size: 1em; 
}

.yellow { color: #ea3; }
.axis path {
  fill: none;
  stroke: #f7f7f7;
  shape-rendering: crispEdges;
}
.axis line {
  fill: none;
  stroke: #f7f7f7;
  shape-rendering: crispEdges;
}

.regions {
  position: absolute;
  margin-left: 600px;
  margin-top: 42px;
  z-index: 5;
}

.atlas { 
  position: absolute; 
  top: 70%; 
  right: 45px; 
  margin: 40px; 
  width: 600px; 
  padding: 20px; 
  border-radius: 8px;
}
